/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

header .logo {
    padding: 0px 0px 0px 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

header .social-links a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

header .social-links .vk:hover {
    color: #0077b5;
}

header .social-links .instagram:hover {
    color: #e474fd;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('img/description.png') no-repeat center center/cover;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный затемненный фон */
}

.hero-content {
    position: relative;
    max-width: 800px;
    z-index: 2;
}

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

.scroll-down {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: background 0.3s;
}

.scroll-down:hover {
    background: rgba(255, 255, 255, 0.6);
}

.room-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f8f8;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.room-info {
    flex: 1;
    padding-right: 100px;
    padding-left: 40px;
}

.room-info .price {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.room-info .short-description {
    font-size: 16px;
    color: #666;
    margin-top: 0;
    font-weight: bold;
}

.room-info .room-name {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.room-info .description-name {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.room-info .room-description {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.room-image {
    flex-shrink: 0;
    width: 40%;
}


.room-info .divider {
    height: 1px;
    background-color: black;
    margin: 40px 0;
}

.section-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto; /* Отступы сверху и снизу */
    max-width: 1200px; /* Ограничиваем ширину, как у блоков */
}

.section-divider .line {
    flex: 1;
    height: 1px;
    background-color: #ddd; /* Цвет полоски */
}

.section-divider .hearts {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6b6b; /* Цвет сердечек */
}

.section-divider .hearts img
{
    width: 20%;
}

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5%;
}

.slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 11%;
    font-size: 24px;
    border-radius: 50%;
    transition: background 0.3s;
}

.slider-container button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

footer {
    background: black;
    color: white;
    padding: 20px 40px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.social-links {
    display: flex;
    gap: 15px;
}

.icon {
    font-size: 32px;
    color: white;
    transition: 0.3s;
}

.icon:hover {
    color: #0077ff;
}

footer .logo {
    padding: 0px 0px 0px 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header .logo {
        font-size: 24px; /* Уменьшаем размер логотипа */
    }

    header .social-links a {
        padding: 0 10px; /* Уменьшаем отступы для ссылок */
    }

    .room-block {
        flex-direction: column; /* Меняем направление flex на вертикальное */
        padding: 20px; /* Уменьшаем отступы */
    }

    .room-info {
        padding-right: 0;
        padding-left: 0;
        width: 100%; /* Занимаем всю ширину */
    }

    .room-image {
        width: 100%; /* Изображение занимает всю ширину */
        margin-top: 20px; /* Отступ сверху */
    }

    .room-info .price {
        font-size: 24px; /* Уменьшаем размер шрифта */
    }

    .room-info .room-name {
        font-size: 24px; /* Уменьшаем размер шрифта */
        margin-top: 20px; /* Уменьшаем отступ */
    }

    .room-info .description-name {
        font-size: 20px; /* Уменьшаем размер шрифта */
        margin-top: 20px; /* Уменьшаем отступ */
    }

    .room-info .room-description {
        font-size: 14px; /* Уменьшаем размер шрифта */
    }

    .room-info .divider {
        margin: 20px 0; /* Уменьшаем отступы */
    }

    .slider-container button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        width: 4%;
        font-size: 10px;
        border-radius: 50%;
        transition: background 0.3s;
    }

    .hero-content h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-family: Arial, sans-serif;
    }
    
    .hero-content p {
        font-size: 1.2rem;
        line-height: 1.5;
        font-family: Arial, sans-serif;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        gap: 100px;
    }
}

@media (max-width: 480px) {
    header .logo {
        font-size: 20px; /* Ещё меньше размер логотипа */
    }

    header .social-links a {
        font-size: 14px; /* Уменьшаем размер шрифта ссылок */
    }

    .room-block {
        padding: 15px; /* Ещё меньше отступы */
    }

    .room-info .price {
        font-size: 20px; /* Ещё меньше размер шрифта */
    }

    .room-info .room-name {
        font-size: 20px; /* Ещё меньше размер шрифта */
    }

    .room-info .description-name {
        font-size: 18px; /* Ещё меньше размер шрифта */
    }

    .room-info .room-description {
        font-size: 12px; /* Ещё меньше размер шрифта */
    }

    .slider-container button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        width: 4%;
        font-size: 10px;
        border-radius: 50%;
        transition: background 0.3s;
    }

    .hero-content h1 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-family: Arial, sans-serif;
    }
    
    .hero-content p {
        font-size: 1rem;
        line-height: 1.5;
        font-family: Arial, sans-serif;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        gap: 50px;
    }
}